{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-header bg-success text-white">
                        <h4 class="text-center">Total Patients</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-center display-4">{{ total_patients }}</p>
                    </div>
                </div>
            </div>
           <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-header bg-info text-white">
                        <h4 class="text-center">Male Patients</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-center display-4">{{ male_patients }}</p>
                    </div>
                </div>
            </div>
             <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-header bg-warning text-white">
                        <h4 class="text-center">Female Patients</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-center display-4">{{ female_patients }}</p>
                    </div>
                </div>
            </div>
             <div class="col-md-12 mt-4">
              <div class="card shadow-sm">
                <div class="card-header  text-white d-flex justify-content-between align-items-center" style="background-color: #343a40;">
                    <h4 class="text-center mb-0">Recent Patient Records</h4>
                     <form method="get" action="{% url 'patients_list' %}">
                      <div class="input-group">
                          <input
                             type="text"
                             class="form-control"
                             placeholder="Filter by Name or Blood Type"
                             name="search"
                             value="{{ search_term|default:'' }}"
                         />
                        <button type="submit" class="btn btn-outline-light">Search</button>
                       </div>
                   </form>
                </div>
                <div class="card-body">
                   <div class="table-responsive">
                       <table class="table table-striped table-bordered">
                           <thead class="table-light">
                               <tr>
                                   <th>Name</th>
                                   <th>Age</th>
                                   <th>Gender</th>
                                   <th>Blood Type</th>
                                   <th>Allergies</th>
                                   <th>Spouse</th>
                                   <th>Last Hospitalization</th>
                                   <th>Actions</th>
                               </tr>
                           </thead>
                           <tbody>
                               {% for patient in patients %}
                               <tr>
                                   <td>{{ patient.name }}</td>
                                   <td>{{ patient.age }}</td>
                                   <td>{{ patient.get_gender_display }}</td>
                                   <td>{{ patient.blood_type }}</td>
                                   <td>{{ patient.alergies }}</td>
                                   <td>{{ patient.spouse }}</td>
                                   <td>{{ patient.last_hospitalisation }}</td>
                                    <td>
                                        <a href="{% url 'edit_patient_record' patient.id %}" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a>
                                        <a href="{% url 'delete_patient_record' patient.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this item?')"><i class="fas fa-trash-alt"></i></a>

                                     </td>
                               </tr>
                               {% empty %}
                                   <tr>
                                       <td colspan="7" class="text-center">No patient records found.</td>
                                   </tr>
                               {% endfor %}
                           </tbody>
                       </table>
                   </div>
               </div>
              </div>
             </div>
        </div>
    </div>
{% endblock %}